

/* Add */

.title{
    font-weight: normal;
    color: #222;
    margin-top: 50px;
  }
  .table{
      width: 50%;
      margin: 80px auto;
      overflow: hidden;
      border: 1px solid #aaa;
      border-bottom: 0;
  }
  
  .table>li{ float: left; font-size: 1.1rem; text-indent: 0.8rem;}
  .category{ background-color: #ccc; width: 30%;}
  .info{ width: 70%;}
  
  .category > ul > li { border-bottom: 1px solid #aaa;}
  .info > ul > li { border-bottom: 1px solid #aaa;}
  
  .table>li>ul>li{height :45px; line-height: 45px;}
  
  .text,
  .mobile{
    height :25px; line-height: 25px; 
    padding-left: 10px;
    outline: none;
  }
  
  
  .button{
    text-align: center;
  }
  .button .btn{
    width: 60px;
    height: 40px;
    line-height: 30px;
    outline: none;
    border: 0;
    border-radius: 5px;
    background-color: #1DA1F2;
    text-align: center;
    margin: 20px auto;
    color: #fff;
    font-size:1rem;
    cursor: pointer;
  }
  
  
  