

.home-category{
    overflow: hidden;
    margin-top: 50px;
  }
  
  .home-category>li:nth-child(1){ float: left;}
  .home-category>li:nth-child(2){ float: right; margin-top:20px;}
  
  
  .branch{
    overflow: hidden;
    margin-top: 20px;
  }
  
  .branch>li:nth-child(1){float: left;}
  .branch>li:nth-child(2){float: right;}
  
  
  .add-btn{
    margin-top: 50px;
    padding: 10px 30px;
    line-height: 40px;
    background-color: #107ec2;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
  