*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

a{ text-decoration: none;}

h2{
  font-weight: normal; color: #222;
}


li{ list-style: none;}

.container{
  padding: 0 100px;
}

.content{
  padding: 0 50px;
}

/* Home */


.home-category{
  overflow: hidden;
  margin-top: 50px;
}

.home-category>li:nth-child(1){ float: left;}
.home-category>li:nth-child(2){ float: right; margin-top:20px;}


.branch{
  overflow: hidden;
  margin-top: 20px;
}

.branch>li:nth-child(1){float: left;}
.branch>li:nth-child(2){float: right;}


.add-btn{
  margin-top: 50px;
  padding: 10px 30px;
  line-height: 40px;
  background-color: #107ec2;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}



/* User */

.nav{
  margin-top: 30px;
  background-color: #595858;
  min-width: 760px;
  padding: 25px;
  padding-left: 55%;
  box-sizing: border-box;
}

.nav>ul{
  overflow: hidden;
  margin-right: 0px;
  min-width: 350px;
}

.nav>ul>li{ float: left;}

.nav > ul > li > input { 
  height: 33px; 
  outline: none; 
  border: 0;
  margin-right: 5px;
  padding-left: 10px;
  border-radius: 5px;
}

.search-btn,
.reset-btn{
  width: 60px;
  height: 35px;
  line-height: 35px;
  margin-right: 5px;
  border-radius: 5px;
  text-align: center;
  background-color: teal;
  color: #fff;
  cursor: pointer;
}

.search-btn{ background-color: #1DA1F2;}

.user-table{
  border: 1px solid #ccc;
  min-width: 700px;
}

.user-table li{ height: 35px; line-height: 35px;}

.user-table-menu{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  text-align: center;
  border-bottom: 1px solid #ccc;
  font-weight: 700;
}


.user-table-menu>li{ border-right: 1px solid #ccc;}
.user-table-menu>li:last-child{ border-right: 0px;}

.user-table-info{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  text-align: left;
  text-indent: 1.1rem;
  border-bottom: 0px;
}

.user-table-info>li {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.user-table-info>li:last-child {
  border-right: 0px;
}



/* Add */

.title{
  font-weight: normal;
  color: #222;
  margin-top: 50px;
  margin-bottom: 25px;
}
.table{
    width: 50%;
    margin: 80px auto;
    overflow: hidden;
    border: 1px solid #aaa;
    border-bottom: 0;
}

.table>li{ float: left; font-size: 1.1rem; text-indent: 0.8rem;}
.category{ background-color: #ccc; width: 30%;}
.info{ width: 70%;}

.category > ul > li { border-bottom: 1px solid #aaa;}
.info > ul > li { border-bottom: 1px solid #aaa;}

.table>li>ul>li{height :45px; line-height: 45px;}

.text,
.mobile,
.email{
  height :25px; line-height: 25px; 
  padding-left: 10px;
  outline: none;
}

.email{
  width: 220px;
  height :25px; line-height: 25px; 
  padding-left: 10px;
  outline: none;
}


.button{
  text-align: center;
}
.button .btn{
  width: 60px;
  height: 40px;
  line-height: 30px;
  outline: none;
  border: 0;
  border-radius: 5px;
  background-color: #1DA1F2;
  text-align: center;
  margin: 20px auto;
  color: #fff;
  font-size:1rem;
  cursor: pointer;
}


 
.list-btn{
  margin-top:50px;
  padding: 9px 30px;
  line-height: 40px;
  background-color: #107ec2;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

