*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

a{ text-decoration: none;}

h2{
  font-weight: normal; color: #222;
}


li{ list-style: none;}

.container{
  padding: 0 100px;
}

.content{
  padding: 0 50px;
}

