*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

a{ text-decoration: none;}

h2{
  font-weight: normal; color: #222;
}

li{ list-style: none;}

.container{
  padding: 0 100px 100px 100px;

}

.loading{
  width: 100%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 1.5rem;
  background-color: #063c5e;
  color: #fff;
}

/* Auth */

.contain{
  width: 100%;
  height: 100vh;
  background-color: #063c5e;
}

.login-form{
  width: 300px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.login-form--input{
  padding: 0 10px;
  width: 100%;
  height: 45px;
  display: block;
  margin-bottom: 10px;
  background-color: rgba(255,255,255, 0.4);
  transition: all 0.8s ease;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

::placeholder{ color: #ccc;}

.login-form--input:hover{
  background-color: rgba(255,255,255,0.9);
}

h5{
  margin-bottom: 5px;
  color: #fff;
}



.authSubmit {
  width: 100%;
  height: 50px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  text-align: center;
  background: #04aaff;
  color: white;
  margin-top: 15px;
  cursor: pointer;
  font-size: 1.2rem;
}


.authSwitch {
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  font-size: 0.9rem;
  float: right;
}

.authSwitch span{ color: gold}

.error-msg{
  font-size: 0.8rem;
  color:#ccc;
  margin-top: 5px;
  white-space: nowrap;
}

/* Home */

.logout-form{
  background-color: #063c5e;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  padding: 20px 5%;
 
}

.logout-btn{
  padding: 5px 10px;
  line-height: 18px;
  background-color: #107ec2;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  float: right;
  cursor: pointer;
  transform: all 0.5s ease;
}

.logout-btn:hover{
  box-shadow: 2px 2px 2px rgba(71, 71, 71, 0.555);
}

.home-category{
  overflow: hidden;
  margin-top: 50px;
}

.home-category>li:nth-child(1){ float: left;}
.home-category>li:nth-child(2){ float: right; margin-top:20px;}


.branch{
  overflow: hidden;
  margin-top: 20px;
}

.branch>li:nth-child(1){float: left;}
.branch>li:nth-child(2){float: right;}


.add-btn{
  margin-top: 50px;
  padding: 10px 30px;
  line-height: 40px;
  background-color: #107ec2;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}



/* User */

.nav{
  margin-top: 30px;
  background-color: #595858;
  min-width: 760px;
  padding: 25px;
  box-sizing: border-box;
}

.nav>div{
  min-width: 350px;
  text-align: end;
}


.nav > div > input {
  width: 200px; 
  height: 33px; 
  outline: none; 
  border: 0;
  margin-right: 5px;
  padding-left: 10px;
  border-radius: 5px;
}

.user-table{
  border: 1px solid #ccc;
  min-width: 700px;
}

.user-table li{ height: 35px; line-height: 35px;}

.user-table-menu{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 150px 100px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  font-weight: 700;
}


.user-table-menu>li{ border-right: 1px solid #ccc;}
.user-table-menu>li:last-child{ border-right: 0px; }

.user-table-info{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 150px 100px;
  text-align: left;
  text-indent: 1.1rem;
  border-bottom: 0px;
}

.user-table-info>li {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

.user-table-info>li:last-child {
  border-right: 0px;
  text-indent: 0rem;
}

.del-btn{
  width: 90px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-left:5px;
  background-color: teal;
  color: #fff;
  cursor: pointer;
}



/* Add */

.title{
  font-weight: normal;
  color: #222;
  margin-top: 50px;
  margin-bottom: 25px;
}
.table{
    width: 50%;
    margin: 80px auto;
    overflow: hidden;
    border: 1px solid #aaa;
    border-bottom: 0;
}

.table>li{ float: left; font-size: 1.1rem; text-indent: 0.8rem;}
.category{ background-color: #ccc; width: 30%;}
.info{ width: 70%;}

.category > ul > li { border-bottom: 1px solid #aaa;}
.info > ul > li { border-bottom: 1px solid #aaa;}

.table>li>ul>li{height :45px; line-height: 45px;}

.text,
.mobile,
.email{
  height :25px; line-height: 25px; 
  padding-left: 10px;
  outline: none;
}

.email{
  width: 220px;
  height :25px; line-height: 25px; 
  padding-left: 10px;
  outline: none;
}


.button{
  text-align: center;
}
.button .btn{
  width: 60px;
  height: 40px;
  line-height: 30px;
  outline: none;
  border: 0;
  border-radius: 5px;
  background-color: #1DA1F2;
  text-align: center;
  margin: 20px auto;
  color: #fff;
  font-size:1rem;
  cursor: pointer;
}


 
.list-btn{
  margin-top:50px;
  padding: 9px 30px;
  line-height: 40px;
  background-color: #107ec2;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

